# macOS
.DS_Store
.AppleDouble
.LSOverride

# Dependencies
node_modules
backend/venv
backend/env
__pycache__
*.pyc

# Build output
dist
dist-ssr

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs
*.log

# Environment
.env
.env.local